.header {
    background-color: white;
  padding: 20px 70px 20px 70px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.header__instagramLogo {
    height: 37px;
    display: flex;
    justify-self: flex-start;
}

.header__loginContainer {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  
  
}

.header__welcomeDisplayName {
  margin-right: 10px;
  padding-bottom: 4px;
  font-size: 1rem;
  color: rgb(117, 117, 117);
}

.header__navContainer { 
  display: flex;
  gap: 10px;
}

.header__navIcon {
  height: 40px;
  color: black;
}



.header__navIcon:hover {
  height: 40px;
  color: rgb(117, 117, 117);
}