.imageUploadModal__icon {
    height: 40px;
    color: black;
}
.imageUploadModal__icon:hover {
    height: 40px;
    color: rgb(117, 117, 117);
    cursor: pointer;
}





.imageUploadModal__modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
    gap: 5px;
  }