.signUpModal__modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-items: center;
  }
  
.signUpModal__image {
    width: 120px;
    margin-bottom: 10px;
    align-self: center;
}
  